*{margin:0;padding:0}
div,h1,h2,h3,p,ul,li,td,footer,header,nav{box-sizing:border-box}
a{text-decoration:none;outline:none}

html{
font-size:62.5%
}
body{
    color:#666;/* 文字色 */
    font-size:1.3em;/* 文字の大きさ */
    font-family:Verdana,'Hiragino Kaku Gothic Pro';
    letter-spacing:.1em;
    text-align:center;
    overflow-y:scroll;
    word-wrap:break-word;
}
body::before {
    position: absolute;
    background-image: url(../img/bk.jpg);
    filter: brightness(200%);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
}
a{
    color:#5f9fff;
    text-decoration:none; 
}
/*--------------------------------------------------------
基本
--------------------------------------------------------*/
#wrapper{
    padding:20px 20px 60px;
    text-align:left;
}
/*--------------------------------------------------------
上(ヘッダー)
--------------------------------------------------------*/
header a{
    color:#38357a;
    text-decoration: none;
}
.header-inner{
    padding:10px 0;
}
/* header{
    background-color: #befad7;
} */
header div p{
    text-align: center;
}
header nav{
    text-align: center;
}
/*--------------------------------------------------------
メニュー
--------------------------------------------------------*/
#menu{
    margin:10px 0;
    line-height:1;
    width:100%
}
nav li{
    display:inline-block; /* 横並び */
    position:relative; /* サブメニュー表示位置の基準 */
    height:2em;line-height:2em; /* メニュー高さ */
}
nav li a,nav li span{
    color:#666;
    display:inline-block;
    padding:0 10px;
    text-decoration:none
}
nav li a:hover,nav li span:hover{
    background:#485da9;
    color:#fff;
    transition:.6s
}
/* サブメニュー */
.sub-menu{
    background:#908dc3;
    position:absolute;
    width:180px; /* サブメニュー幅 */
    z-index:20
}
.sub-menu li{
    display:block; /* 横並びをリセット */
    visibility:hidden; /* 隠す */
    overflow:hidden; /* 隠す */
    height:0; /* 隠す */
    width:100%
}
.sub-menu li a{
    display:block
}
.sub-menu li a:hover{
    background:#485da9;
    color:#fff
}
nav li:hover .sub-menu li{
    visibility:visible;
    overflow:visible;
    height:3em;line-height:3em; /* サブメニュー高さ */
    transition: .5s
}
/* #open{display:none} */
/*--------------------------------------------------------
メイン
--------------------------------------------------------*/
#contents{
    margin: 20px 10%;
    line-height: 25px;
}
/*--------------------------------------------------------
ページ上部へのリンク
--------------------------------------------------------*/
#pagetop {
    background:#918ecd;
    color:#999;
    border-radius:10px;
    box-sizing:border-box;
    display:block;
    padding:10px;
    position:fixed;
    text-align:center;
    z-index:10
}
.pagetop{
margin: 10px 20px 10px 0px;
}

/*--------------------------------------------------------
見出し、枠、線
--------------------------------------------------------*/
h1{
    color:#38357a;
    font-size:1.6em;
    line-height:1;
    margin:0 0 0.5em 0;
    text-align: center;
}
h2{
    border-top:3px double;
    border-bottom:3px double;
    font-size:1.1em;
    padding:.5em .2em;
    text-align: center;
    margin: 0 200px 0;
    color: #666;
    margin: 15px 0px 15px;
}
h2:first-letter{
    font-size:1.5em;
    margin-right:.1em
}
h3{
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 74px 10px;
    color: #38357a;
    border-bottom: 2px solid;
    border-left:6px solid;
    padding:.2em .5em;
    margin: 10px 0px 10px;
    font-size: 13px;
}
dt{
    font-weight:700;
    margin:0px 0px 5px
}
dd{
    margin:0px 0px 5px 2em
}
.txt{
    font-weight: bold;
    color: #6669;
    border-bottom: 2px solid;
    padding:.2em .5em;
    margin: 10px 0px 10px 20px;
    font-size: 13px;
}
.contents p{
    margin: 0 0 0 360px;
}
.contents{
    margin: 0 100px 0 100px;
}
.indent{
    margin: 0 0 0 20px;
}
.indent ul{
    margin-left: 2em;
}
p{
    padding-left: 0.5em;
}
/*--------------------------------------------------------
画像
--------------------------------------------------------*/
img{
    width:50%;
    pointer-events: none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
    text-align: center;
    width: 80%;
    margin: auto;
}
.img{
    text-align: center;
    width: 50%;
    margin: auto;
}
.prf{
    width: 80%;
    border-radius: 50%;
    opacity: 0.7;
}

/*--------------------------------------------------------
スマホ、タブレット用
横幅600pxで切り替え
--------------------------------------------------------*/
@media screen and (max-width: 600px){
header{
    position: relative; /* メニュー表示位置の基準 */
}
h1{
    min-height:40px;
    padding:0 18px 0 0
}
/* メニュー */
#menu{
    background:#918ecd; /* メニューの背景色 */
    margin:0;
    display:none;
    position:absolute; /* 表示位置固定 */
    left:0; /* headerを基準とした位置 */
    z-index:20
}
nav li{
    display:block; /* 横並び解除 */
    height:auto;line-height:inherit /* 高さリセット */
}
nav > ul > li+li:before{
    content:none
}
nav li a,nav li span{
    display:block;
    position:relative;
    padding:15px 20px /* リンクの余白 一列の高さはここで調節 */
}
nav li a:hover,nav li span:hover{
    background:#38357a;
    color:#fff;
    letter-spacing:1em
}
/* サブメニュー */
.sub-menu{
    background:none;
    position:static;
    display:none; /* 隠す */
    width:100%;
    z-index:auto
}
.sub-menu li{
    display:inline-block;/* 一列ごとにするならここを削除 */
    visibility:visible; /* リセット */
    overflow:visible; /* リセット */
    height:auto; /* 高さリセット */
    width:50% /* 一列ごとにするならここを削除 */
}
nav li:hover .sub-menu li{
    height:auto;line-height:inherit /* 高さリセット */
}
nav li span:after{
    border-top:3px solid #666; /* メニュー「>」の色 */
    border-right:3px solid #666; /* メニュー「>」の色 */
    content:"";
    display:block;
    margin-top:-5px;
    position:absolute;
    top:50%;right:20px;
    height:5px;width:5px;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    transition:.5s
}
nav li span.open:after {
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg)
}
 /* メニューを開くボタン */
#open{
    border:3px double #999;
    display:inline-block;
    position:absolute;
    top:0;right:0; /* headerを基準とした位置 */
    height:40px;width:40px;  /* 大きさ */
    /* z-index:30 */
}
#open-icon,#open-icon:before,#open-icon:after{
background:#999; /* 線の色 */
}
    #open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:50%;left:50%;height:2px;width:20px}
    #open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
    #open-icon:before{margin-top:-8px}
    #open-icon:after{margin-top:6px}
}
